<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="HydroLocal" value="./.nuget/packages" />
    <add key="hydro-local" value="./shared/HydroEspinaca.Shared/nupkg" />
  </packageSources>
</configuration>
