<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- <add key="hydro-local" value="/app/deploy-artifacts/mosquitto/nuget" /> -->
    <add key="hydro-local" value="deploy-artifacts/nuget" />
  </packageSources>
</configuration>
